* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  position: relative;
  height: 100%;
  body {
    width:100%;
    height: 100%;
    overflow-x:hidden;
  }
}

.footer {
  padding: 200px;
  background-color: #eee;
}

.top {
  cursor: pointer;
  display: block;
  .fa {
    font-size: 30px;
  }
}
